table {
    margin-top: 50px;
    /* all tables must start hidden. */
    /* display: none; */
    font-family : Courier;
    font-size: 14px;
}
.fixed {
    position: fixed; 
}

tr.fixed {
    margin-top: -50px;
    background: #ffffff;
}

.fixed th {
}

td {
    padding-left: 5px;
}

#Sun td:nth-of-type(1),#Sun th:nth-of-type(1), 
#Sun td:nth-of-type(2),#Sun th:nth-of-type(2) {
    min-width : 34px;
}
#Sun td:nth-of-type(6),#Sun th:nth-of-type(6), 
#Sun td:nth-of-type(3),#Sun th:nth-of-type(3),
#Sun td:nth-of-type(4),#Sun th:nth-of-type(4){
    min-width : 110px;
}
#Sun td:nth-of-type(5),#Sun th:nth-of-type(5){
    min-width : 70px;
}
#Sun td:nth-of-type(7),#Sun th:nth-of-type(7),
#Sun td:nth-of-type(8),#Sun th:nth-of-type(8),
#Sun td:nth-of-type(9),#Sun th:nth-of-type(9) {
    min-width : 65px;
}
