* {
    transition: 0.15s;
}

body {
    font-family: Verdana;
    font-size: 16px;
    min-width: 610px;
    margin-left: auto;
    margin-right: auto;
}

#scroller {
    position: fixed;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
    min-width: 590px;
    right: 0;
    left: 0;
}

.page {
    display: block;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

.page:not(:target){
    display: none;
    opacity: 0;
    height: 0%;
}

.page::after {
    font-size: 10px;
    display: block;
    margin: 48px auto 10px auto;
    text-align: center;
    content: "Copyright 2017 by Alexandru Garofide.";
 }

.fixed {
    position: fixed;
}

.printOnly {
    display: none;
    height: 0px;
}

.topmenulink {
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-left: 30px;
}

.topmenulink img{
    cursor: pointer;
    margin-top: 2px;
}

.topmenulink::after {
    font-size: 12px;
    display: block;
    text-align: center;
    color: #000000;
}

#HomeLinkButton::after {
    content: "Home";
}

#MenuLinkDiv::after {
    content: "More ...";
    margin: -2px auto 2px auto;
}

#SettingsLink::after {
    content: "Settings";
}

#DownloadLink::after {
    content: "Download";
}

#DownloadLink img {
    width: 52px;
    height: 42px;
}

#HomeLinkButton {
    float: left;
}

#MenuLinkDiv {
    margin-top: 2px;
}
#MenuLinkDiv img{
    width: 52px;
    height: 42px;
}

#HomeLinkButton {
    margin-top: 2px;
    margin-right: 20px;
}

#HomeLinkButton img {
    width: 40px;
    height: 40px;
}

#SettingsLink img {
    width: 42px;
    height: 42px;
}

.title {
font-size: 36px;
    font-family: Arial;
    vertical-align: top;
    margin-left: 0px;
}

#more {
    width:100%;
    margin: 20px 50px;
    font-size: 22px;
}

#settings {
    width: 100%;
    max-width: 640px;
    
}

#settings label, #getFromGeolocationAnchor, #applySettingsChanges{
    float: left;
    margin-top: 16px;
}

#settings label, #getFromGeolocationAnchor, #applySettingsChanges {
    margin-left: 6px;
}

#cancelSettingsChanges {
    float: right;
    margin-right: 16px;
}

#applySettingsChanges, #cancelSettingsChanges {
    margin-top: 32px;
    height: 48px;
    padding: 12px;
    font-size: 16px;
}

#menuList li a, #getFromGeolocationAnchor {
    cursor: pointer;
    padding-right: 10px;
    text-decoration: underline;
}

#getFromGeolocationAnchor {
    height: 72px;
}

#menuList li a:hover, #menuList li a.current, #promotedMenu a:hover, #promotedMenu a.current{
    color: red;
}

#menuList li {
    float: left;
}

#menuList{ 
    list-style-type:none;
}

#promotedMenu a {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
}

.clear {
	clear: both;
    height: 0px;
}

tr.firstHeaderRow{
    margin-top: -41px;
    border-top: 1px solid black;
}

tr.secondHeaderRow {
    margin-top: -21px;
    border-bottom: 1px solid black;
}

tr.firstHeaderRowScrolled{
    margin-top: -105px;
    border-top: 1px solid black;
}

tr.secondHeaderRowScrolled{
    margin-top: -85px;
    border-bottom: 1px solid black;
}

table {
    margin-top: 10px;
    font-family : Courier;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.planetTable {
    margin-top: 50px;
}

 td,  th {
    padding: 2px;
}

.planetTable th {
    cursor: help;
}

 tr:nth-of-type(odd) {
background: #ffffff;
}

 tr:nth-of-type(even) {
background: #eeeeee;
}

input {
    height: 32px;
    font-size: 16px;
    margin-top: 8px;
}

#latitudeInput, #longitudeInput, #altitudeInput {
    width: 80px;
}
#startingDate {
    width: 150px;
} 
#incrementDate, #numberOfDays {
    width: 120px;
}

#credits, .topBorder{
    	border-top: 1px solid #000000;
}
#credits{
        width: 100%;
        padding-top: 10px;
        margin-top: 20px;
        font-family: Courier;
    }
    
.loadingMemFileContents {
    text-align: center;
}
/** ----------------------------- M O O N --------------------------------------- **/
#MoonTable tr:nth-of-type(1), #MoonTable tr:nth-of-type(2), #Moon{
    width: 672px;
}

#MoonTable td:nth-of-type(1),#Moon th:nth-of-type(1), 
#MoonTable td:nth-of-type(2),#Moon th:nth-of-type(2) {
    min-width : 20px;
} 

#MoonTable td:nth-of-type(3),#Moon th:nth-of-type(3), 
#MoonTable td:nth-of-type(4),#Moon th:nth-of-type(4),
#MoonTable td:nth-of-type(5),#Moon th:nth-of-type(5),
#MoonTable td:nth-of-type(7),#Moon th:nth-of-type(7),
#MoonTable td:nth-of-type(8),#Moon th:nth-of-type(8),
#MoonTable td:nth-of-type(9),#Moon th:nth-of-type(9), 
#MoonTable td:nth-of-type(10),#Moon th:nth-of-type(10), 
#MoonTable td:nth-of-type(11),#Moon th:nth-of-type(11),
#MoonTable td:nth-of-type(13),#Moon th:nth-of-type(13), 
#MoonTable td:nth-of-type(14),#Moon th:nth-of-type(14),
#MoonTable td:nth-of-type(15),#Moon th:nth-of-type(15), 
#MoonTable td:nth-of-type(16),#Moon th:nth-of-type(16),
#MoonTable td:nth-of-type(17),#Moon th:nth-of-type(17), 
#MoonTable td:nth-of-type(18),#Moon th:nth-of-type(18), 
#MoonTable td:nth-of-type(19),#Moon th:nth-of-type(19),
#MoonTable td:nth-of-type(21),#Moon th:nth-of-type(21),
#MoonTable td:nth-of-type(22),#Moon th:nth-of-type(22)
{
    min-width: 20px;
}

#MoonTable td:nth-of-type(6),#Moon th:nth-of-type(6), 
#MoonTable td:nth-of-type(12),#Moon th:nth-of-type(12), 
#MoonTable td:nth-of-type(20),#Moon th:nth-of-type(20)
{
    min-width : 25px;
} 

#MoonTable td:nth-of-type(23),#Moon th:nth-of-type(23),
#MoonTable td:nth-of-type(24),#Moon th:nth-of-type(24) {
    min-width: 52px;
}

#MoonTable > tr:nth-of-type(1) > th:nth-child(2),
#MoonTable > tr:nth-of-type(1) > th:nth-child(11),
#MoonTable > tr:nth-of-type(1) > th:nth-child(18),
#MoonTable > tr:nth-of-type(1) > th:nth-child(19)
{
    min-width: 5px;
}

#MoonTable > tr:nth-of-type(2) > th:nth-child(14)
{
    min-width: 30px;
}

#MoonTable td:nth-of-type(2), #MoonTable td:nth-of-type(5), #MoonTable td:nth-of-type(8), #MoonTable td:nth-of-type(11), #MoonTable td:nth-of-type(14), #MoonTable td:nth-of-type(16), #MoonTable td:nth-of-type(19), #MoonTable td:nth-of-type(22), #MoonTable td:nth-of-type(23) {
    border-right: 1px solid black;
}

#MoonTable td:nth-of-type(9), #MoonTable td:nth-of-type(12), #MoonTable td:nth-of-type(13), #MoonTable td:nth-of-type(15){
    border-right: none;
}

/** -------------------------------------- S U N -------------------------------- **/
#SunTable tr:nth-of-type(1), #SunTable tr:nth-of-type(2), #Sun{
    min-width: 622px;
}

#SunTable td:nth-of-type(2), #SunTable td:nth-of-type(5), #SunTable td:nth-of-type(8), #SunTable td:nth-of-type(9), #SunTable td:nth-of-type(11),
#SunTable td:nth-of-type(14), #SunTable td:nth-of-type(15), #SunTable td:nth-of-type(16), #SunTable td:nth-of-type(17) {
    border-right: 1px solid black;
}

#SunTable td:nth-of-type(12), #SunTable td:nth-of-type(13) {
    border-right: none;
}


#SunTable td:nth-of-type(1),#SunTable th:nth-of-type(1), 
#SunTable td:nth-of-type(2),#SunTable th:nth-of-type(2) {
    min-width : 20px;
} 

#SunTable td:nth-of-type(3),#SunTable th:nth-of-type(3), 
#SunTable td:nth-of-type(4),#SunTable th:nth-of-type(4),
#SunTable td:nth-of-type(5),#SunTable th:nth-of-type(5),
                                
#SunTable td:nth-of-type(7),#SunTable th:nth-of-type(7), 

#SunTable td:nth-of-type(10),#SunTable th:nth-of-type(10), 
#SunTable td:nth-of-type(11),#SunTable th:nth-of-type(11),

#SunTable td:nth-of-type(12),#SunTable th:nth-of-type(12), 
#SunTable td:nth-of-type(13),#SunTable th:nth-of-type(13),
#SunTable td:nth-of-type(14),#SunTable th:nth-of-type(14) 
{
    min-width : 20px;
} 

#SunTable td:nth-of-type(6),#SunTable th:nth-of-type(6)
{
    min-width: 25px;
}


#SunTable td:nth-of-type(9),#SunTable th:nth-of-type(9)
{
    min-width: 50px;
} 
#SunTable td:nth-of-type(15),#SunTable th:nth-of-type(15), 
#SunTable td:nth-of-type(16),#SunTable th:nth-of-type(16), 
#SunTable td:nth-of-type(17),#SunTable th:nth-of-type(17) {
    min-width : 62px;
}

#SunTable th:nth-child(18)
{
    min-width: 30px;
}

#SunTable tr:nth-of-type(1) th:nth-of-type(13),
#SunTable tr:nth-of-type(1) th:nth-of-type(14){
    min-width: 1px;
}

#SunTable tr:nth-of-type(1) th:nth-child(8) {
    min-width: 15px;
}

#SunTable tr:nth-of-type(2) th:nth-child(8) {
    min-width: 25px;
}

.printOnly {
        display: none;
}

@media print {

    .fixed {
        position: relative;
        width: 100%;
    }
    
    .printOnly {
        display: table-row;
    }

     tr.printOnly:nth-of-type(odd), tr.printOnly:nth-of-type(even){
        background: #ffffff;
        font-family : Courier;
        font-size: 12px;
        height: 14px;
    }
    
    tr.printOnly:nth-of-type(odd) {
        border-top: 1px solid black;
    }
    tr.printOnly:nth-of-type(even) {
        border-bottom: 1px solid black;
    }
}


/** ---------------------------------- P L A N E T ------------------------------ **/
.planetTable tr:nth-of-type(1), .planetTable tr:nth-of-type(2), .page
{
    width: 543px;
    background: #ffffff;
	    height: 20px;
}

.planetTable td:nth-of-type(1),.planetTable th:nth-of-type(1), 
.planetTable td:nth-of-type(2),.planetTable th:nth-of-type(2) {
    min-width : 20px;
} 

.planetTable td:nth-of-type(3),.planetTable th:nth-of-type(3), 
.planetTable td:nth-of-type(4),.planetTable th:nth-of-type(4),
.planetTable td:nth-of-type(5),.planetTable th:nth-of-type(5),
.planetTable td:nth-of-type(9),.planetTable th:nth-of-type(9), 
.planetTable td:nth-of-type(10),.planetTable th:nth-of-type(10), 
.planetTable td:nth-of-type(11),.planetTable th:nth-of-type(11)
{
    min-width : 20px;
} 

.planetTable td:nth-of-type(7),.planetTable th:nth-of-type(7),
.planetTable td:nth-of-type(8),.planetTable th:nth-of-type(8)
{
    min-width : 20px;
} 
.planetTable td:nth-of-type(6),.planetTable th:nth-of-type(6){
    min-width: 25px;    
}

.planetTable td:nth-of-type(12),.planetTable th:nth-of-type(12)
{
    min-width: 25px;
}

.planetTable td:nth-of-type(13),.planetTable th:nth-of-type(13), 
.planetTable td:nth-of-type(14),.planetTable th:nth-of-type(14) {
    min-width: 55px;
}
.planetTable td:nth-of-type(16),.planetTable th:nth-of-type(16) {
    min-width: 45px;
}
.planetTable td:nth-of-type(15),.planetTable th:nth-of-type(15) {
    min-width : 62px;
}

.planetTable   tr:nth-child(1)  th:nth-child(11),
.planetTable   tr:nth-child(1)  th:nth-child(12) {
	min-width: 1px;
}

.planetTable td:nth-of-type(2) ,
.planetTable td:nth-of-type(5),
.planetTable td:nth-of-type(8),
.planetTable td:nth-of-type(9),
.planetTable td:nth-of-type(12),
.planetTable td:nth-of-type(13),
.planetTable td:nth-of-type(14),
.planetTable td:nth-of-type(15){
    border-right: solid 1px black;
}

.planetTable > tr:nth-of-type(1) > th:nth-child(8) {
    min-width: 15px;    
}
.planetTable > tr:nth-of-type(2) > th:nth-child(8) {
    min-width: 25px;    
}

.planetTable > tr:nth-of-type(1) > th:nth-child(15) {
    min-width:70px;
}

/* ---------------------------- M A R S ------------------------------------ */
#Mars tr:nth-of-type(1), #Mars tr:nth-of-type(2), #Mars{
    width: 732px;
}
#Mars  td:nth-of-type(16), #Mars  td:nth-of-type(17), #Mars  td:nth-of-type(18), #Mars  td:nth-of-type(19){
    border-right: solid 1px black;
}
#Mars td:nth-of-type(17),#Mars th:nth-of-type(17) {
    min-width: 50px;
}

#Mars td:nth-of-type(18),#Mars th:nth-of-type(18),
#Mars td:nth-of-type(19),#Mars th:nth-of-type(19),
#Mars td:nth-of-type(20),#Mars th:nth-of-type(20) {
    min-width: 40px;
}
/* ---------------------------- J U P I T E R ---------------------- */
#Jupiter tr:nth-of-type(1), #Jupiter tr:nth-of-type(2), #Jupiter{
    width: 770px;
}

#Jupiter  td:nth-of-type(16), #Jupiter  td:nth-of-type(17), #Jupiter  td:nth-of-type(18), #Jupiter  td:nth-of-type(19), #Jupiter  td:nth-of-type(20){
    border-right: solid 1px black;
}

#Jupiter td:nth-of-type(18),#Jupiter th:nth-of-type(18),
#Jupiter td:nth-of-type(17),#Jupiter th:nth-of-type(17) {
    min-width: 50px;
}

#Jupiter td:nth-of-type(19),#Jupiter th:nth-of-type(19),
#Jupiter td:nth-of-type(20),#Jupiter th:nth-of-type(20),
#Jupiter td:nth-of-type(20),#Jupiter th:nth-of-type(21) {
    min-width: 40px;
}

#Jupiter td:nth-child(13), #Jupiter td:nth-child(13), 
#Jupiter td:nth-child(14), #Jupiter td:nth-child(14){
    min-width: 50px;
}

#GalileanMoons, #SaturnMoons {
    width: 800px;
}

#GalileanMoonsContainer svg {
    margin-left: auto;
    margin-right: auto;
}

#GalileanMoonsContainer, #SaturnMoonsContainer {
    text-align: center;
}

 #MoonEclipsesPage
 {
     width: 100%;
     max-width: 810px;
 }

.moonEclipse {
    text-align: center;
    border-top: solid 1px #000000;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #000000;
    padding-top: 20px;
}

.moonEclipse svg.viewport {
    width: 100%;
    padding-top: 0.1%; /* 1:1 Aspect Ratio */
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#home {
    width: 100%;
    max-width: 800px;
}


.physicalEphemeris, .positionEphemeris
{
    display: table-cell;
}


@media (min-width: 1281px)  {
    #MenuLink, #MenuLinkDiv, #MenuLinkDiv img, #MenuLinkDiv::after {
        width: 0px;
        height: 0px;
    }
    #MenuLinkDiv::after {
        display: none;
    }
}

@media  (max-width: 1280px) {
    .leastImportant {
        display: none;
    }
}

@media  (max-width: 936px)  {
    .leastImportant, .lessImportant{
        display: none;
    }
}

@media  (max-width: 741px)  {
    #promotedMenu{
        display: none;
    }
}

.physicalEphemerisTitle, .positionEphemerisTitle {
    display: none;
}