/* @media print { */
    
    a, tr.firstHeaderRow, tr.firstHeaderRowScrolled {
    text-decoration: none;
    }

    tr.firstHeaderRow.fixed, tr.secondHeaderRow.fixed, 
    .fixed {
        position: relative;
    }

    .screenOnly {
        font-size: 0px;
        color: #ffffff;
    }

    .physicalPositionalButtonsHolder {
        display: none;
    }

     tr.printOnly{
        background: #ffffff;
        font-family : Courier;
        font-size: 12px;
        height: 14px;
        position: relative;
        display: table-row;
    }
    
    tr.printOnly:nth-of-type(odd) th {
        border-top: 1px solid black;
        padding: 0px;
    }
    tr.printOnly:nth-of-type(even) th {
        border-bottom: 1px solid black;
        padding: 0px;
    }
    
    #scroller {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .topmenulink {
        display: none;
    }
    
    .breakBefore {
        page-break-before: always;
        width: 100%;
        height: 1px;
        display: block;
    }    
    
    #navigation {
        display: none;
    }
    
    tr.firstHeaderRow th{
        border-top: solid 1px #000000;
    }

    tr.secondHeaderRow th{
        border-bottom: solid 1px #000000;
    }

    #showNavigationMenuContainer, #footer, .version {
        display: none;
    }
/* } */
